/* Add here all your css styles (customizations) */
.social-wall .item {
	text-align: center;
	margin-bottom: 20px;
}

.social-wall twitterwidget {
	margin: 0px auto;
}

.social-wall {
	background-color: #111111;
	overflow: hidden;
	padding: 20px;
	max-height: 350px;
}

.social-wall .wrapp {
	margin: 0px auto;
}

.social-wall .item iframe {
	width: 100%;
	height: 300px;
	border: none;
	overflow: hidden
}

.social-wall .item.width20 {
	width: 20%;
}

@media (max-width: 993px) {
	.social-wall {
		max-height: initial;
	}
	.social-wall .item iframe {
		width: 400px;
		height: 300px;
	}
	.social-wall .item.width20 {
		width: 100%;
	}
	.social-wall .wrapp {
		margin: 0px auto;
		width: 100%;
	}
}

@media (max-width: 400px) {
	.social-wall .item iframe {
		width: 200px;
	}
}
@media only screen and (max-width: 999px) {
	input[type="color"],
	input[type="login"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="submit"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	input[type="url"],
	input[type="week"],
	select:focus,
	textarea {
		font-size: 16px !important;
	}
}

html body a:hover {
	text-decoration: none;
}

.bg-color-darker {
	background-color: #222 !important;
}


/* menu */


/*
@media screen and (min-width: 992px) {
	.header-v8 .navbar-nav > li > a {
		padding: 10px;
		line-height: 67px;
	}
}*/

.header-v8 .navbar-brand img.logo {
	height: 37px;
	margin-right: 5px;
	margin-top: 25px;
}

.header-v8.header-fixed-shrink .navbar-brand img.logo {
	margin-top: 8px;
}

@media screen and (max-width: 990px) {
	.header-v8 .dropdown-menu {
		border-top: solid 0px #72c02c !important;
	}
	.dropdown-menu>.active>a,
	.dropdown-menu>.active>a:focus,
	.dropdown-menu>.active>a:hover {
		color: #fff;
		text-decoration: none;
		background-color: transparent;
		overflow-x: hidden;
		outline: 0;
	}
	.dropdown-menu {
		position: relative;
		top: 100%;
		left: 0;
		z-index: 1000;
		display: block;
		float: none;
		min-width: 160px;
		padding: 5px 0;
		margin: 2px 0 0;
		font-size: 14px;
		text-align: left;
		list-style: none;
		background-color: #fff;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		border: 0px solid #ccc;
		border: 0px solid rgba(0, 0, 0, .15);
		border-radius: 4px;
		-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .175);
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
	}
}


/* nav */

.header-v8 .navbar-brand {
	height: auto;
	padding: 5px;
	line-height: 0px;
}


/* hp slider */


/* custom slider stzle*/

.blog-slider .blog-slider-title {
	left: 0;
	z-index: 1;
	bottom: 20px;
	padding: 0px;
	position: absolute !important;
	background-color: #111111;
	padding-bottom: 0px;
	margin-bottom: -20px;
	opacity: 0.6;
	width: 100%;
	cursor: pointer;
}

.blog-slider .blog-slider-title h2 {
	margin: 0;
	color: #fff;
	font-size: 38px;
	font-weight: 600;
	line-height: 1.4;
	padding: 0px 20px;
}

.blog-slider span.blog-slider-badge {
	cursor: pointer;
}

@media screen and (max-width: 1366px) {
	#masterslider {
		zoom: 0.6;
	}
}

@media screen and (max-width: 800px) {
	.blog-slider .blog-slider-title h2 {
		font-size: 28px;
	}
}

@media screen and (max-width: 400px) {
	.blog-slider .blog-slider-title h2 {
		font-size: 18px;
	}
}


/* microslider */

.microslider-wrapper {
	width: 100%;
	height: 500px;
	background-color: #000;
	opacity: 0.9;
	background-size: cover;
	position: relative;
}

.microslider-wrapper .page-name-wrapper {
	top: 50%;
	width: 1000px;
	position: relative;
	margin: 0px auto;
	display: none;
}

.microslider-wrapper .page-name {
	font-size: 45px;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	color: #fff;
	background: #111111;
	opacity: 0.9;
	/*background: url('../img/bar.png');*/
	width: auto;
	padding: 5px;
	border-radius: 3px;
}

.microslider-wrapper .arrow-left {
	width: 0;
	height: 0;
	border-top: 160px solid transparent;
	border-bottom: 80px solid transparent;
	border-right: 135px solid #c05660;
	bottom: -52px;
	left: -70px;
	position: absolute;
	-ms-transform: rotate(7deg);
	/* -webkit-transform: rotate(7deg); */
	transform: rotate(-31deg);
	overflow: hidden;
}

@media screen and (max-width: 1000px) {
	.microslider-wrapper .microslider-wrapper {
		height: 400px;
	}
}

.carousel-caption {
	top: 20px;
}
/* home page items */

.col-md-12.homepage {
	margin: 60px 0px;
}

.homepage-items h3 a {
	font-size: 30px;
}

.homepage-items p {
	font-size: 15px;
}

.masonry-box.homepage-items {
	padding: 10px;
}

.masonry-box.homepage-items .r-more {
	font-size: 15px;
	border-bottom: 0px;
	margin: 0px auto;
	border: 1px #cecece solid;
	padding: 10px 17px;
	position: absolute;
	bottom: 0px;
	font-style: normal;
	text-transform: uppercase;
	margin-left: 5%;
}

.masonry-box.homepage-items .r-more:hover {
	background-color: #cecece;
	color: #000;
}

@media screen and (max-width: 1200px) {
	.masonry-box .masonry-box-in.col-4 {
		width: 50%;
		height: 240px;
	}
}

.jazyky ul li {
	float: left;
	list-style: none;
}

.jazyky img {
	height: auto;
	margin: 5px;
}

@media screen and (max-width: 1200px) {
	.masonry-box.homepage-items .r-more {
		position: relative;
		margin-left: auto;
	}
}

@media screen and (max-width: 650px) {
	.masonry-box .masonry-box-in.col-2,
	.masonry-box .masonry-box-in.col-3,
	.masonry-box .masonry-box-in.col-4 {
		width: 100%;
	}
}

.col-md-9.main-content {
	padding: 10px;
}

.col-md-9.main-content h2 {
	margin-top: -8px;
	margin-bottom: 50px;
}

html body h2.title-v4{
	font-size: 20px;
}

.col-md-9.main-content p {
	font-size: 14px;
	line-height: 1.8;
	margin-left: 5px;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* PERSONAL */

.blog-grid h3 {
	font-size: 25px;
	font-size: 24px;
	margin: 0 0 10px;
	line-height: 1.4;
	color: #72c02c;
}


/* PRODUKTY */

.produkty .blog-grid h3 {
	font-size: 20px;
}

.produkty {
	height: auto;
	min-height: 350px;
	padding: 0px;
}

.produkty .blog-grid {
	padding: 0px 5px;
}

.produkty .blog-grid img {
	padding: 0px 5px;
	overflow: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.produkty img:hover {
	padding: 0px;
	overflow: hidden;
}


/* partneri */

.partner-img {
	float: left;
	height: 50px;
	margin: 40px;
	text-align: center;
	display: block;
	box-sizing: border-box;
}


/* error */
label.error {
	color: #cc0000;
}
.article-view {
	padding: 0px 10px;
	padding-right: 20px;
}


/* kontakt */
.sidlo-a-pobocka {
	font-size: 16px;
	color: #111;
	font-weight: bold;
	text-transform: uppercase;
	font-family: sans-serif;
}


/* vypnutie fotiek v kontakte */
.blog-grid.personal img {
	display: none;
}


/* polls */

.dnt-poll.panel-primary {
	border: 0px;
}

.dnt-poll .list-group-item {
	border: 0px solid #111;
}

.dnt-poll label {
	color: #111;
	font-size: 14px;
}

.panel-primary>.panel-heading {
	color: #fff;
	background-color: #111111;
	border-color: #111111;
}

.dnt-poll .panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 18px;
	color: inherit;
	padding: 10px 0px;
	font-weight: normal;
}

.blog-social-shares li i.li {
	background: #4862a3;
}

.blog-social-shares li i.yt {
	background: #ff0000;
}

.blog-social-shares li i.ig {
	background: #c22d68;
}

ul.logos li {
	list-style: none;
	padding: 0px;
	padding-right: 60px;
	margin: 15px 0px;
}

ul.logos img {
	height: 40px;
	width: auto;
	margin: 0px auto;
}

ul.logos .btn-u {
	display: block;
	margin: 0px auto;
	text-align: center;
}

ul.mini-menu {
	margin: 0px;
	padding: 0px;
}

ul.mini-menu li {
	float: left;
	margin-right: 20px;
	list-style: none;
}

.blog-social-shares li {
	width: 49%;
}

.microslider-wrapper {
	height: 250px;
	margin-bottom: 80px;
}

.ms-ctimer {
	display: none;
}

body.header-fixed-space-v2 {
	padding-top: 0px;
}


.video_cont,
#region-carousel {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 60%;
}
@media screen and (max-width: 700px) {
	.video_cont, #region-carousel {
		width: 100%;
	}
}
.service-boxes{
	margin-top:30px;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
	margin-bottom: 0px;
	width: 100%
}

.carousel {
	margin-bottom: 15px;
}

.dnt-form .dnt-form-item input[type=radio] {
	height: 20px !important;
	width: 20px !important;
	margin-top: 0px;
	padding-top: 0px;
}

.dnt-form .questions label[for=ans_a],
.dnt-form .questions label[for=ans_b],
.dnt-form .questions label[for=ans_c] {
	display: block;
}

.header-fixed .header-v8.header-sticky {
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 999;
	position: relative;
}

.topbar-search-block {
	background: #fff;
}

.topbar-search-block .form-control {
	background: #fff;
}

.topbar-search-block .form-control {
	background: #fff;
	color: #c41230;
}

::placeholder {
	color: #c1c1c1 !important;
	opacity: 1;
	/* Firefox */
}

.jazyky i.fa.fa-home,
.jazyky a,
.jazyky a:hover {
	color: #fff;
	display: block;
	text-decoration: none;
}

.jazyky i.fa.fa-home {
	margin-right: 20px;
}

@media screen and (max-width: 990px) {
	.topbar-search-block .form-control {
		font-size: 16px !important;
	}
	.header-v8 .navbar-brand img.logo {
		max-width: 100%;
		margin-left: 0px;
		margin-top: 10px;
		height: 40px;
		margin-right: 15px;
		width: auto;
	}
	.header-v8 .navbar-brand {
		width: 80%;
	}
}

@media screen and (max-width: 768px) {
	.header-v8 .navbar-toggle {
		display: block;
		margin-top: 8px;
	}
}


/*** HOTELY**/

.hotely .item {
	margin-bottom: 60px;
	padding-bottom: 60px;
	border-bottom: 1px dotted #c1c1c1;
}

.hotely .item .first {
	margin-bottom: 5px
}

.hotely .item .other {
	float: left;
	width: 50%;
	height: 70px;
	object-fit: cover;
	padding-right: 5px;
	margin-bottom: 5px;
}

.hotely .item .miniy-gallery {
	margin-right: 0px;
	margin-left: 0px;
	display: block;
	margin-bottom: 20px;
}


/** MAIN SLIDER **/

.slider-wrap .container,
.slider-wrap .col-md-12,
.dnt-carousel-slider {
	padding: 0px;
	padding: 0px;
}

.slider-wrap {
	margin: 0px auto;
	width: 100%;
	background-color: transparent;
	margin-bottom: 40px;
}

.slider-wrap .carousel {
	margin-bottom: 0px;
	padding: 0px;
	margin: 0px;
	padding: 40px 0px;
}

.slider-wrap .carousel-inner {
	max-height: 252px;
}

.slider-wrap .text {
	display: block;
}

.slider-wrap .wrap {
	width: 100%;
	position: relative;
}

.slider-wrap .text {
	display: block;
	padding: 10px 10px;
	background-color: rgba(255, 0, 0, 0.5);
	position: absolute;
	width: 100%;
	bottom: 0px;
	color: #fff;
	font-size: 22px;
	text-transform: inherit;
	line-height: 22px;
	font-weight: bold;
}

.slider-wrap .text .description {
	text-transform: initial;
	font-size: 11px;
	font-weight: normal;
}

@media only screen and (max-width: 990px) {
	.slider-wrap .carousel-inner {
		max-height: initial;
	}
	.slider-wrap .carousel-inner .item.active .col-md-6.col-xs-12:last-child {
		display: none;
	}
}

.carousel-control.left,
.carousel-control.right {
	background-image: none;
}


/** sutazne podmienky */

.blog-social-shares li.podmienky {
	width: 100%;
}

.blog-social-shares li.podmienky a {
	font-size: 11px;
	display: flex;
}

.blog-social-shares li.podmienky a i {
	color: inherit;
	font-size: 20px;
}

.strip_cookies {
	height: auto;
	width: 100%;
	background: #3d3d3d;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1001;
	color: #fff;
	padding: 10px;
	font-size: 12px;
}

.strip_cookies p {
	width: 1000px;
	margin: 0 auto;
}

.strip_cookies a {
	color: #fff;
}

.strip_cookies .btn-primary {
	margin: 0 10px 0 10px;
	padding: 3px 20px;
	font-size: 12px;
}

.carousel-caption h1 strong {
	padding: 10px 10px;
	width: 80%;
	border-radius: 5px;
	display: block;
	margin: 0px auto;
}

@media only screen and (max-width: 1000px) {
	.carousel-caption h1 strong {
		padding: 5px 10px;
		width: 100%;
	}
	.carousel-caption h1 {
		color: #651A22;
		font-size: 19px;
		line-height: initial;
		margin: 0px;
	}
}

@media only screen and (max-width: 600px) {
	.carousel-caption h1 {
		font-size: 12px;
	}
}

@media only screen and (max-width: 400px) {
	.header-v8 .navbar-brand img.logo {
		height: 20px;
	}
}
.carousel-caption {
    right: 10%;
    left: 10%;
    padding-bottom: 30px;
}
@media only screen and (max-width: 768px) {
	.carousel-caption {
		right: 5%;
		left: 5%;
	}
	.carousel-caption h1 p span {
		    font-size: 13px !important;
	}

}

.error-404 img{
	padding: 30px 0px;
}
.povinne {
    color: #cc0000;
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px;
}
.main-content .thankyou-reg p{
	font-size:26px;
}
.main-content .thankyou-reg .btn-u{
	font-size:18px;
}