.topbar-search-block {
    background: #fff;
}
.topbar-search-block .form-control {
    background: #fff;
}
.topbar-search-block .form-control {
    background: #fff;
    color: #c41230;
}
::placeholder {
    color: #c1c1c1 !important;
    opacity: 1; /* Firefox */
}
.jazyky i.fa.fa-home,
.jazyky a,
.jazyky a:hover
{
	color: #fff;
	display: block;
	text-decoration: none;
}

